.head{
    flex-direction: row;
    justify-content: space-between;
}
body{
    margin: 0;
    background-color: rgb(236, 236, 236);    
}
header{
    min-height: 55px;
    width: 100%;
    background-color: rgba(13,18,48,255);
    margin-top: 0;
    font-family: "Suwannaphum", serif;
    position: fixed;
    z-index: 1000;
}

.logo img{
    width: 100px;
    height: 45px;
    border-radius: 5%;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
}
.nav1{
    display: flex;
    justify-content: baseline;
    margin-left: 30%;
}
nav ul{
    
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 17px;
    font-size: 15px;
    color: white;
}
ul li{
    float: left;
}

ul li a:hover{
    color: cornflowerblue;
    font-size: 15px;
}
.pfp{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.pfp img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 95%;
    object-fit: cover;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 140px;
    height: 80px;
    font-family: "suwannaphum",serif;
    font-size: 15;
    
}
.dropdown ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown a{
    text-decoration: none;
    color: black;
}
.dropdown li:hover {
    background-color: white;
   
}

.pfp:hover .dropdown {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    display: flex;
    gap: 30px;
    margin: auto;
    height: 710px;
}
.contact-info{
    height: 500px;
    font-family: "suwannaphum", serif;
    padding-top: 0;
    margin-left: 10%;
}

.contact-info h2 {
    font-size: 30px;
    color: #111;
    margin-bottom: 5px;
}

.contact-info p {
    margin: 0;
    color: #555;
    line-height: 2;
}

.p2{
    padding-top: 0;
    margin: 0;
    color: #555;
    margin-bottom: 20px;
}

label{
    padding-bottom: 5px;
    color: #555;
}    
h3 {
    margin-bottom: 0;
    color: #222;
}
.social-icons i {
    font-size: 20px;
    color: #222;
    cursor: pointer;
    transition: color 0.3s;
}

.social-icons i:hover {
  color: #0d6efd;
}

.contact-form{
    padding: 65px;
    z-index: 1;
    height: 585px;
    width: 460px;
    background-color: white;
    border-radius: 10px;
    padding-top: 0;
    font-family: "suwannaphum", serif;
    margin-right: 10% ;
}

.contact-form h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 5%;
    margin: 0;
}

.contact-form p{
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

.contact-form   label {
    margin: 10px 0 0;
    font-size: 16px;
    
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
    font-family: "suwannaphum", serif;
}

textarea {
    min-height: 100px;
}

.contact-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 25px;
    padding: 12px;
    font-size: 15px;
    background: #7986cb;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-family: "suwannaphum", serif;
}

.contact-form button:hover {
    background: #5c6bc0;
}

footer {
    background-color: #0f172a;
    color: white;
    padding: 40px 20px 20px;
    font-family: "suwannaphum", serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-left {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 30px;
  
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;    
    color: white;   
    font-size: 24px;
}

.social-icon:hover {
    color: rgb(128, 172, 199);
}

.footer-column {
    flex: 1 1 180px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-column {
    list-style: none;
    padding: 0;
}

.footer-column {
    margin-bottom: 8px;
}

.footer-column a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.app-btn {
    width: 130px;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 1px solid #334155;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #cbd5e1;
}
.flix-logo{
    width: 95px;
    margin-bottom: 3px;
}
@media (max-width:500px) {
    header{
        position: static;
    }
    .head{
        width: 100%;
        background-color: rgba(13,18,48,255);
        display: flex;
        flex-direction: column;
     
    }
    .logo{
        /* height: 100px; */
        background-color: rgba(13,18,48,255);
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
          
    }
    .logo img{
        display: flex;
        text-align: center;
        margin: 0;
    }
    .nav1{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
      
    }
    ul{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }
    .pfp{
        position: absolute;
        right: 120px;
        top: 100px;
    }
    .pfp:hover{
        z-index: 1;
    }

    .container{
        padding-top: 0;
        height: auto;
        flex-direction: column;
    }
    .contact-info{
        height: auto;
    }
    .contact-form{
        height: 580px;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
}