body {
    margin: 0;
    background: url(../photo/BG\ login.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    font-family: "suwannaphum", serif;
}
.login-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 350px;
    height: 480px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.login-box h2 {
    font-size: 29px;
    margin-top: 0px;
    font-family: "suwannaphum", serif;
    font-weight: 700;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "suwannaphum", serif;
    font-weight: 600;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: "suwannaphum", serif;
    font-weight: 500;
}
.input-group input:focus {
    border: 1px solid blue;
    outline: none; 
}

.register {
    text-align: left;
    font-size: 13px;
    margin-top: 2px;
    font-family: "suwannaphum", serif;
    font-weight: 600;
}

.register a {
    color: #4a61e1;
    text-decoration: none;
    font-weight: 300;
}

.register a:hover{
    color: red;
}
p{
    font-family: "suwannaphum", serif;
    margin: 0;
    text-align: center;
    max-width: 600px;
    position: relative;
}
p:before{
    content: "";
    display: block;
    width: 150px;
    height: 0.8px;
    position: absolute;
    background-color: #dfdfdf;
    top: 50%;
}
p:after{
    content: "";
    display: block;
    width: 150px;
    height: 0.8px;
    position: absolute;
    background-color: #dfdfdf;
    top: 50%;
    right: 5px;
}
.social-buttons {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.social-buttons button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.social-buttons img {
    height: 22px;
    vertical-align: middle;
    margin-right: 6px;
}

.login-btn {
    background: #9793db ;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "suwannaphum", serif;
    
}

.login-btn a{
    text-decoration: none;
}

.login-btn:hover{
    background-color: rgb(167, 180, 255) ;
    color: white;
    cursor: pointer;
}
